{% extends 'pre_index.html' %}
{% load block %}

{% block right_block %}
<h1>Анонсы</h1>
{% include 'pagination.html' with obj=objs %}

{% for obj in objs %}
    <div class="new">
        <div class="title">
            <span class="date">
                {{ obj.date|date:'d.m.Y' }}
            </span>
            <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
        </div>
        <div class="description">
            {{ obj.description|striptags|nbsp_kill|safe|truncatewords:'50' }}
        </div>
    <div>
        <a href="{{ obj.get_absolute_url }}">
            Подробнее
        </a>
    </div>
    </div>
{% endfor %}

{% include 'pagination.html' with obj=objs %}
{% endblock %}