body
  color: #666
  font-family: 'Roboto', sans-serif
  font-size: 14px
  line-height: 22px
  background: url('../img/bg2.jpg')

  .container
    background-color: white

  #header
    background-color: #163F72
    font-size: 12px
    padding: 5px 10px
    text-align: right
    position: relative

    .individ
      position: absolute
      left: 10px
      top: 2px
      i
        line-height: 27px
        font-size: 28px
    a
      color: white

.img_head
  position: relative
  img
    width: 100%
p
  margin-bottom: 0.5rem


.slider
  padding-top: 20px
  .information
    padding-left: 10px

  #slider
    margin: 0
    li
      //background-color: #DAE1E9


    .image
      max-width: 60%
      float: left
      img
        width: 100%

    .info
      max-width: 40%
      float: left
      padding: 10px
      text-align: justify
      .title
        font-size: 20px
        margin-bottom: 5px
  .base_slider
    .lSPager
      position: absolute
      bottom: 10px
      width: 60%
    .lSAction
      .lSNext
        margin-right: 40%
  .contacts
      text-align: justify


#m_sc
  height: 100%
  background-color: rgba(0,0,0,1)
  width: 120px
  display: none
  opacity: 0.2



#m_img_s
  background: url('../img/arrow_up.png') 20px 5px no-repeat
  margin-top: 10px
  background-size: 15px
  padding-left: 40px
  top: 0px
  position: absolute
  color: white
  width: 20px
  height: 20px
  display: none

#m_img_s2
  background: url('../img/arrow_down.png') 20px 5px no-repeat
  margin-top: 10px
  background-size: 15px
  padding-left: 40px
  top: 0
  position: absolute
  color: white
  width: 20px
  height: 20px
  display: none


#m_scroll2
  position: fixed
  height: 100%
  bottom: 0
  left: 0
  z-index: 2
  width: 26.6%
  cursor: pointer
  overflow: hidden
  display: none


#m_scroll
  margin-top: 10px
  background-size: 15px
  font-size: 12px
  font-weight: bold
  padding-left: 40px
  top: 0px
  position: absolute
  color: white
  display: none
  font-family: sans-serif



.menu
  padding-bottom: 20px
  padding-top: 20px

  nav.navbar
    background-color: #163F72
    padding: 0 10px
    border-radius: 0 0 10px 10px
    ul
      flex-wrap: wrap
    .navbar-nav
      .nav-link
        color: white
        padding: 0 12px
        line-height: 56px
      .active
        .nav-link
          background-color: #5686C2
      .dropdown-menu
        background: #E5EEF5
        border-radius: 0
        .dropdown-item:hover
          background-color: #5686C2
          color: white
    .item_dd
      position: relative
      &:hover
        .dropdown-menu
          display: block
          top: 0
          left: 100%
          margin-top: 0
.new
  margin-bottom: 20px

img
  max-width: 100%
  max-height: 100%


.content
  padding-bottom: 20px

  .news_anons
    .new
      margin-bottom: 20px
      padding: 10px
      border: 1px solid #D5DAE0
      .title
        margin: 0 0 10px
        font-size: 16px
        font-weight: bold
        text-decoration: underline
        a
          color: #163F72
    .more
      margin-bottom: 20px
    h1
      color: rgb(217, 227, 241)
      background-color: #163F72
      padding: 5px 15px
      border-radius: 10px 0
      font-size: 20px
      margin: 0 0 20px
    .image
      margin-right: 16px
      width: 138px
      float: left
      text-align: center
      padding-top: 2px
      background-color: #f1f1f1
      img
        max-width: 100%
        max-height: 100%

  .banners
    padding-left: 20px
    .banner
      margin-bottom: 12px
      img
        width: 100%
  .partners
    text-align: center

    .partner
      display: inline-block
      margin: 0 10px
      max-width: 130px
      vertical-align: top
      img
        height: 100px
        padding-top: 5px

.footer
  background-color: white
  border-top: 1px solid #cccccc
  padding: 37px 0

.right_block
  .news
    .new
      margin-bottom: 10px
  .resource
    .title
      font-size: 24px
      margin-bottom: 0.5rem

  .collection
    .image
      img
        width: 100%

  .admin_controls
        position: fixed
        right: 0
        top: 20%
        z-index: 99
  .select_news
    .title_h1
      font-size: 24px
      margin-bottom: 0.5rem
    .description
      img
        width: 100% !important
        height: auto !important
  .news_slider
        .lSAction
          a
            z-index: 1
        margin-bottom: 20px
        ul
            margin-bottom: 0
            li
                text-align: center
                position: relative
                overflow: hidden
                height: 100%
                .iwh100
                  max-height: 100%
                  max-width: 100%
                .blur_back
                    position: absolute
                    top: 0
                    bottom: 0
                    right: 0
                    left: 0
                    z-index: -1
                    -webkit-filter: blur(8px)
                    -moz-filter: blur(8px)
                    -ms-filter: blur(8px)
                    -o-filter: blur(8px)
                    filter: blur(8px)

                    img
                        width: 100%



        .lSPager
            li
                height: 200px
            li:hover, li.active
                border-radius: 0

            img
                width: 100%
                max-width: none !important
.left_block
  .childs
    margin-top: 20px
    a
      color: white
    .list-group-item
      background-color: #163F72
      border-color: white

#cookie_ok
    padding: 20px
    position: fixed
    bottom: 0
    left: 0
    right: 0
    background-color: white
    z-index: 100000
    display: none
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3)

body
  ._individ
    display: none
  &.size_a
    ._individ
      display: block
    .container
      max-width: 100%
    .base_slider
      .image
        display: none
    .slider #slider .info
      max-width: 100%
    .slider .base_slider .lSPager
      width: 100%
    #slider_news
      img
        display: inline-block !important
      .mslside
        background: transparent !important

    .whi-bla
      background-color: white !important
      color: black !important

    .bla-whi
      background-color: black !important
      color: white !important

    .blu-yel
      background-color: darkblue !important
      color: yellow !important



.rating__base
  &:not(.active) .rating_block
    &:hover > .fa-star:before
        font-weight: 900

  .rating_block
    display: inline
    cursor: pointer

    &.active > .fa-star:before
      font-weight: 900

    &:hover
      .fa-star:before
        font-weight: 400
      & > .fa-star:before
        font-weight: 900


  .total_result
    font-size: 12px
    padding-bottom: 20px


.laporemCommentes
  .comment
    margin: 10px 0

    .laporemCommentes__name
      font-size: 20px
    .laporemCommentes__date
      font-size: 10px
      color: #bcbcbc
    .laporemCommentes__text
      padding-left: 20px
      font-weight: lighter