{% load sitetree %}

<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% for item in sitetree_items %}
        <div class="{% if item.has_children %}item_dd{% endif %}">
        <a class="dropdown-item" role="menuitem" href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a>

        {% if item.has_children %}
            {% sitetree_children of item for menu template "mytrees/drop_down.html" %}
        {% endif %}
        </div>

    {% endfor %}
</div>