{% load sitetree %}

<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in sitetree_items %}
          <li class="nav-item {% if item.has_children %}dropdown{% endif %} {% if item.is_current or item.in_current_branch %}{{ item.is_current|yesno:"active ," }}{{ item.in_current_branch|yesno:"current_branch," }}{% endif %}">
            <a class="nav-link {% if item.has_children %}dropdown-toggle{% endif %}" {% if item.has_children %}id="dropdown_{{ item.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}  href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} >{{ item.title_resolved }}</a>
            {% if item.has_children %}
                {% sitetree_children of item for menu template "mytrees/drop_down.html" %}
            {% endif %}
          </li>
      {% endfor %}
    </ul>
  </div>
</nav>


