<div class="comment" id="comment_{{ comment.id }}">
    <div class="laporemCommentes__name">
        {% if comment.user %}
            {{ comment.user }}
        {% else %}
            Без имени
        {% endif %}

        {% if request.user.is_superuser %}
            <small><a onclick="deleteComment({{ comment.id }}, this)" href="#">Удалить</a></small>
        {% endif %}
    </div>
    <div class="laporemCommentes__date">{{ comment.datetime|date:"d E Yг. H:i:s" }}</div>
    <div class="laporemCommentes__text">
        {{ comment.text }}
    </div>
</div>