<h1>Комментарии</h1>
<div class="laporemCommentes mt-3 mb-3">
    <div class="laporemCommentes__form">
        <form class="laporemCommentesForm">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="laporemCommentesName" placeholder="Ваше имя">
            </div>
            <div class="form-group">
                <textarea required class="form-control" name="laporemCommentesText" placeholder="Введите текст сообщения" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success">Отправить</button>
        </form>
    </div>
    <div class="listComments">
        {% for comment in comments %}
            {% include 'comments/comment.html' with comment=comment %}
        {% endfor %}
    </div>
</div>
<script>
    $('.laporemCommentesForm').submit(function () {
        var el = this;
        event.preventDefault();
        var form = $(this).serialize();
        $.ajax({
            type: "POST",
            url: '{% url 'laporemComments:send' %}',
            data: form,
            success: function (data){
                $('.listComments', $(el).closest('.laporemCommentes')).prepend(data);
                $('[name=laporemCommentesText]',el).val("")
            }
        });

        return false
    });

    function deleteComment(id, el) {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: '{% url 'laporemComments:delete' %}',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}','id': id },
            success: function (){
                $(el).closest('.comment').remove()
            }
        });
        return false;
    }
</script>