{% load thumbnail %}
{% if obj.slider.count > 0 %}
        <ul id="slider_news">
          {% for image in obj.slider.all %}
                <li class="mslside" data-thumb="{% thumbnail image.file 250x250 crop detail%}" data-src="{% thumbnail image.file 900x0 crop%}" data-exthumbimage="{{ image.file|thumbnail_url:'small' }}">
                    <div class="blur_back"><img class="iw100" src="{% thumbnail image.file 600x0 crop%}"></div>
                    <img class="iwh100" src="{% thumbnail image.file 900x0 crop%}">
                </li>
          {% endfor %}

        </ul>
{% endif %}