{% load thumbnail %}
{% load block %}
{% for obj in objs %}
    <div class="new">
        {% if obj.slider|length > 0 %}
            <div class="image">
                <img src="{% thumbnail obj.slider.first.file 100x100 %}">
            </div>
        {% endif %}
        <span class="date">
            {{ obj.date|date:'d.m.Y' }}
        </span>
        <div class="title">
            <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
        </div>
        <div class="description">
            {{ obj.description|striptags|nbsp_kill|safe|truncatewords:'50' }}
        </div>
    <div>
        <a href="{{ obj.get_absolute_url }}">
            Подробнее
        </a>
    </div>
    </div>
{% endfor %}