{% extends 'pre_index.html' %}
{% load block thumbnail staticfiles comments %}

{% block title %}{{ obj.title }}{% endblock %}
{% block description %}{{ obj.description|striptags|nbsp_kill|truncatechars:'400' }}{% endblock %}

{% block dop_head %}
    <meta itemprop="name" content="{{ obj.title }}">
    <meta itemprop="image" content="{{ request.build_absolute_uri }}{{ obj.slider.first.file.url }}">
    <meta itemprop="description" content="{{ obj.description|striptags }}">
    <meta itemprop="url" content="{{ request.build_absolute_uri }}{% url 'news_obj' obj.slug %}">
    <meta property="og:title" content="{{ obj.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ obj.description|striptags }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}{% url 'news_obj' obj.slug %}">
    <meta property="og:image" content="{{ request.build_absolute_uri }}{{ obj.slider.first.file.url }}">
{% endblock %}

{% block right_block %}
    <div class="select_news">
        <div class="">
            <link rel="stylesheet" type="text/css" href="{% static 'css/lightslider.min.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/lightgallery.css' %}"/>
            <script src="{% static 'js/lightgallery.js' %}"></script>
            <script src="{% static 'js/lg-thumbnail.js' %}"></script>
            <script src="{% static 'js/lg-fullscreen.js' %}"></script>
            <script src="{% static 'js/lightslider.min.js' %}"></script>
            <script src="{% static 'js/slider_active.js' %}"></script>
            <script src="{% static 'js/lightgallery.js' %}"></script>

            {% include 'admin_controls.html' with obj=obj %}
        </div>
        <div class="">
            {% include  "news/innclude_slider.html" with obj=obj %}
        </div>
        <div class="title_h1">
            {{ obj.title }} {% if obj.parent %}<small>(связанно с <a href="{{ obj.parent.get_absolute_url }}">{{ obj.parent.title }}</a>)</small>{% endif %}
        </div>
        <div class="description">
            {{ obj.description|safe }}
        </div>

        <blockquote class="blockquote-reverse">
            <p>Поделиться ссылкой в социальных сетях</p>
            <footer class="like_tw_news">
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj,whatsapp"></div>
            </footer>
        </blockquote>


        {% comments request %}

    </div>
{% endblock %}

{% block dop_footer %}
    <script>
        $('.description img').each(function () {
            $(this).attr({
                'data-src': $(this).attr('src'),
            })
        })
        $('.description').lightGallery({
            'selector': 'img',
        });
    </script>
{% endblock %}