{% extends 'resource/resource.html' %}
{% load block thumbnail %}

{% block title %}{{ col.title }}{% endblock %}
{% block description %}{{ col.description|striptags|nbsp_kill|truncatechars:'400' }}{% endblock %}

{% block right_block %}
    <div class="resource">

        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            {% include 'breadcrumb.html' with obj=obj %}
          </ol>
        </nav>

        <div class="title">
            {{ col.title }}
        </div>
        <div class="description">
            {{ col.description|safe }}
        </div>
        {% if col.file %}
            <div class="download">
                <a href="{{ col.file.url }}">Скачать {{ col.title|lower }}</a>
            </div>
        {% endif %}

    </div>
{% endblock %}