{% extends 'pre_index.html' %}
{% load block thumbnail staticfiles comments %}

{% block title %}{{ obj.title }}{% endblock %}
{% block description %}{{ obj.description|striptags|nbsp_kill|truncatechars:'400' }}{% endblock %}


{% block dop_head %}
    <meta itemprop="name" content="{{ obj.title }}">
    <meta itemprop="image" content="{{ request.build_absolute_uri }}{{ obj.slider.first.file.url }}">
    <meta itemprop="description" content="{{ obj.description|striptags }}">
    <meta itemprop="url" content="{{ request.build_absolute_uri }}{% url 'resource' obj.slug %}">
    <meta property="og:title" content="{{ obj.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ obj.description|striptags }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}{% url 'resource' obj.slug %}">
    <meta property="og:image" content="{{ request.build_absolute_uri }}{{ obj.slider.first.file.url }}">
{% endblock %}


{% block left_block %}
    <ul class="list-group childs">
        {% for child in obj.resource_set.all %}
            <li class="list-group-item child">
                <a href="{{ child.slug }}/">{{ child.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block right_block %}
    <div class="resource">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            {% include 'breadcrumb.html' with obj=obj %}
          </ol>
        </nav>

        <div class="">
            <link rel="stylesheet" type="text/css" href="{% static 'css/lightslider.min.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/lightgallery.css' %}"/>
            <script src="{% static 'js/lightgallery.js' %}"></script>
            <script src="{% static 'js/lg-thumbnail.js' %}"></script>
            <script src="{% static 'js/lg-fullscreen.js' %}"></script>
            <script src="{% static 'js/lightslider.min.js' %}"></script>
            <script src="{% static 'js/slider_active.js' %}"></script>
            <script src="{% static 'js/lightgallery.js' %}"></script>

            {% include 'admin_controls.html' with obj=obj %}
        </div>

        <div class="">
            {% include  "news/innclude_slider.html" with obj=obj %}
        </div>

        <div class="title">
            {{ obj.title }}
        </div>

        <div class="description">
            {{ obj.description|safe }}

            <blockquote class="blockquote-reverse">
            <p>Поделиться ссылкой в социальных сетях</p>
            <footer class="like_tw_news">
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj,whatsapp"></div>
            </footer>
            </blockquote>



        </div>
        {% if obj.collection_set.all|length > 0 %}
            <div class="collections">
                {% csrf_token %}
                <div>
                    <div class="items">
                        <a class="item" href="{% url 'statistic' obj|model_class obj.id %}">Статистика</a>
                    </div>
                </div>
                {% for collection in obj.collection_set.all %}
                    <div class="collection row">
                        <div class="col-lg-3 image">
                            {% if collection.image %}
                                <a href="{% url 'collection' obj.slug collection.slug %}">
                                    <img src="{% thumbnail collection.image 300x300 %}">
                                </a>
                            {% endif %}
                            {% if obj.scale %}
                                {% get_rating request collection obj.scale %}
                            {% endif %}
                        </div>
                        <div class="col-lg-9">
                            <div class="">
                                <h3><a href="{% url 'collection' obj.slug collection.slug %}">{{ collection.title }}</a></h3>
                            </div>
                            <div class="description">
                                {{ collection.description|safe }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if obj.content_set.all|length > 0 %}
            <div class="content">
            <div class="news_anons row">
            {% for content in content_all %}
                <div class=" col-md-6">
                    <div class="new">
                        {% if content.slider|length > 0 %}
                            <div class="image">
                                <img src="{% thumbnail content.slider.first.file 100x100 %}">
                            </div>
                        {% endif %}
                        <span class="date">
                            {{ content.date|date:'d.m.Y' }}
                        </span>
                        <div class="title">
                            <a href="{{ content.get_absolute_url }}">{{ content.title }}</a>
                        </div>
                        <div class="description">
                            {{ content.description|striptags|nbsp_kill|safe|truncatewords:'50' }}
                        </div>
                    <div>
                        <a href="{{ content.get_absolute_url }}">
                            Подробнее
                        </a>
                    </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            </div>
        {% endif %}


        {% comments request %}

    </div>
{% endblock %}


{% block dop_footer %}
    <script>
        $('.description img').each(function () {
            $(this).attr({
                'data-src': $(this).attr('src'),
            })
        })
        $('.description').lightGallery({
            'selector': 'img',
        });
    </script>
{% endblock %}