{% extends 'pre_index.html' %}
{% load block thumbnail staticfiles %}
{% load l10n %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}

{% block left_block %}
{% endblock %}


{% block container %}
    <div class="container">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            {% include 'breadcrumb.html' with obj=obj %}
          </ol>
        </nav>

    {% if table_data %}
    <h2 class="text-center">
        {{ obj.title }}
    </h2>
    <div class="statistics">

            <div class="scripts">
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                  google.charts.load('current', {'packages':['corechart']});
                  google.charts.setOnLoadCallback(drawChart);

                  function drawChart() {
                    var data = google.visualization.arrayToDataTable(
                        [
                                {% for obj in objs %}
                                    [
                                        {% for el in obj %}
                                            {%  if forloop.parentloop.first %}
                                                "{{ el }}"
                                            {% else %}
                                                {% if forloop.first %}
                                                        "{{ el|date:'d.m' }}"
                                                {% else %}
                                                    {{ el|unlocalize }}
                                                {% endif %}
                                            {% endif %}
                                            {% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    ]
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                        ]
                    );

                    var options = {
                      title: 'График изменения рейтинга',
                      hAxis: {title: 'Дата',  titleTextStyle: {color: '#333'}},
                      vAxis: {minValue: 0}
                    };

                    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                  }
                </script>

            </div>
            <div id="chart_div" style="width: 100%; height: 500px;"></div>

        <div>

        <h2 class="text-center">
            Результат на сегодняшний день
        </h2>


        </div>
    </div>

    {% else %}

        <div class="jumbotron">
          <h1 class="display-4">К сожалению, на сегодняшний день нет проголосовавших :(</h1>
          <p class="lead">Вы можете стать первыми</p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'resource' obj.slug %}" role="button">Перейти к голосованию</a>
          </p>
        </div>

    {% endif %}

    <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Название</th>
              <th scope="col">Средний балл</th>
              <th scope="col">Голосовать</th>
            </tr>
          </thead>
         <tbody>
            {% for o in table_data %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ o.obj.title }}
                    </td>
                    <td>
                        {{ o.avg_result|floatformat:'2' }}
                    </td>
                    <td>
                        {% if o.obj.resource.scale %}
                            {% get_rating request o.obj o.obj.resource.scale %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
         </tbody>
        </table>

</div>
{% endblock %}