{% load block %}
<div class="btn-group admin_actions" role="group" aria-label="...">
  <a href="{{ obj|get_admin_url:'change' }}" class="btn btn-default">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
  </a>
  <a href="{{ obj|get_admin_url:'changelist' }}" class="btn btn-default">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
  </a>
  <a href="{{ obj|get_admin_url:'add' }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
  <a href="{{ obj|get_admin_url:'delete' }}" class="btn btn-default">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </a>
</div>