{% load block %}

{% if request.user.is_staff %}
    <div class="admin_controls">
        <div class="btn-group-vertical">
          <a data-toggle="tooltip" data-placement="left" title="Редактировать" href="{{ obj|get_admin_url:'change' }}" class="btn btn-secondary"><i class="material-icons">mode_edit</i></a>
          <a data-toggle="tooltip" data-placement="left" title="Список материалов" href="{{ obj|get_admin_url:'changelist' }}" class="btn btn-secondary"><i class="material-icons">format_list_bulleted</i></a>
          <a data-toggle="tooltip" data-placement="left" title="История изменений" href="{{ obj|get_admin_url:'history' }}" class="btn btn-secondary"><i class="material-icons">history</i></a>
          <a data-toggle="tooltip" data-placement="left" title="Добавить материал такого же типа" href="{{ obj|get_admin_url:'add' }}" class="btn btn-secondary"><i class="material-icons">add_circle_outline</i></a>
          <a data-toggle="tooltip" data-placement="left" title="Удалить" href="{{ obj|get_admin_url:'delete' }}" class="btn btn-secondary"><i class="material-icons">delete_forever</i></a>
        </div>
    </div>
    <script>
        $('[data-toggle="tooltip"]').tooltip()
    </script>
{% endif %}