{% load staticfiles %}
{% load cropping %}
<!DOCTYPE html>
<html>
<head lang="ru" >
    <meta charset="UTF-8">
            <title>ФАКУЛЬТЕТ ЭКОНОМИКИ, УПРАВЛЕНИЯ И ИНФОРМАЦИОННЫХ ТЕХНОЛОГИЙ | {% block title %}{% endblock %}</title>

            <link rel="image_src" href="http://www.ugtu.net/logo.png">
            <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="https://fonts.googleapis.com/c  ss?family=Roboto" rel="stylesheet">

            <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="https://webasr.yandex.net/jsapi/v1/webspeechkit.js" type="text/javascript"></script>
            <script src="{% static 'js/m-scroll-top.js' %}"></script>
            <script src="{% static 'js/laporem.js' %}"></script>

            <meta name="description" content="{% block description %}{% endblock %}">
            <meta name="keywords" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" />

            {% block dop_head %}{% endblock %}
            {% block xscript %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <div id="cookie_ok">
        <h3>Сведения о файлах cookie.</h3>
        Данный веб-сайт использует файлы cookie для того, чтобы сохранить данные на вашем компьютере.
        Некоторые из этих файлов обеспечивают работу функций на вашем компьютере, а некоторые помогают нам улучшить веб-сайт,
        сохраняя данные о том, как вы его используете. Если вы продолжаете работать с этим веб-сайтом, мы предполагаем,
        что вы соглашаетесь с использованием файлов cookie.
        <div class="text-right">
            <div onclick="set_ok()" class="btn btn-success">Скрыть</div>
            <div class="btn btn-default" data-toggle="modal" data-target="#co_des">Подробнее</div>
        </div>


        <div class="modal fade" id="co_des" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Что такое cookies и как мы их используем?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

              </div>

              <div class="modal-body">
                  <p>Cookies — это небольшие файлы с данными, сохраняемые посещаемыми вами сайтами на жестком диске вашего компьютера. Все сохраненные на компьютере cookies можно использовать для восстановления данных — таких как пароль или сведения о предыдущей регистрации.</p>
                  <p>{{ setting.namesite }} использует cookies на своем сайте. Это позволяет нам ускорять обработку ваших данных при последующих обращениях за счет сокращения времени, уходящего на введение пароля и регистрационных данных.</p>
                  <p>Cookies можно также использовать для идентификации пользователя в коммерческих или рекламных целях.</p>
                  <p>Большинство браузеров позволяют блокировать cookies или получать сообщения с предупреждением перед сохранением cookies на компьютере. Если вы не желаете сохранять cookies на своем компьютере, мы рекомендуем обратиться к информации для пользователя браузера или к справочному файлу за дополнительной информацией. Однако cookies могут быть необходимы для запуска некоторых приложений на наших сайтах, и при блокировке cookies эти приложения будут для вас недоступны.</p>
              </div>
              <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
              </div>
            </div>
          </div>
        </div>


    </div>
    <script>
            function getCookie(name) {
              var matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
              ));
              return matches ? decodeURIComponent(matches[1]) : false;
            }
            function set_ok() {
                var myDate = new Date();
                myDate.setMonth(myDate.getMonth() + 3);
                 document.cookie = "cookie_ok=1;expires="+ myDate + ";domain={{ request.META.HTTP_HOST }};path=/";
                 $('#cookie_ok').delay(500).slideUp(1000);
            }
            var cookie = getCookie('cookie_ok');

            if (!cookie){
                $('#cookie_ok').delay(500).slideDown(1000);
            }else{
                $('#cookie_ok').hide()
            }
    </script>
</body>

{% block dop_footer %}
{% endblock %}

</html>