{% if obj.parent %}
    {% include 'breadcrumb.html' with obj=obj.parent %}
{% elif obj.resource %}
    {% include 'breadcrumb.html' with obj=obj.resource %}
{% endif %}
<li class="breadcrumb-item">
    <a href="{% url 'resource' obj.slug %}">{{ obj.title }}</a>
</li>