<div class="container">
    <div class="row">
        <div class="col-lg-7">
            © ФГБОУ ВО УГТУ 2017. Все права зарегистрированы.
            <div class="">
                {{ setting.footer_info }}
            </div>
        </div>
        <div class="col-lg-5">

        </div>
    </div>
</div>