﻿{% load static %}
<div class="row">
    <div id="header" class="col-12">
        <a href="#" class="individ"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <a href="#">Зарегистрироваться</a>
    </div>
    {% include 'individ.html' %}
</div>

<div class="img_head">
    <a href="{% url 'home' %}">
        <img src="{% static 'img/head.png' %}">
    </a>
</div>
