{% extends 'base.html' %}
{% load staticfiles thumbnail %}

{% block dop_head %}

{% endblock %}



{% block content %}
    {% block header %}
        <div class="container">
            {% include 'header.html' %}
        </div>
    {% endblock %}
    {% block slider %}
        <div class="container slider">
            {% include 'slider.html' with slider=setting.slider %}
        </div>
    {% endblock %}
    {% block menu %}
        <div class="container menu">
            {% include 'menu.html' with menu=setting.slider %}
        </div>
    {% endblock %}
    {% block container %}
        <div class="container content">
            <div class="row no-gutters">
                <div class="col-lg-9">
                    <div class="row ">
                        <div class="col-lg-6 news_anons">
                            <h1>Новости</h1>
                            {% include 'news/news.html' with objs=news %}
                            <div class="more">
                                <a href="{% url 'news_list' %}" class="btn btn-primary btn-sm">
                                    Все новости
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 news_anons">
                            <h1>Анонсы</h1>
                            {% include 'news/news.html' with objs=announcement %}
                            <div class="more">
                                <a href="{% url 'announcements_list' %}" class="btn btn-primary btn-sm">
                                    Все анонсы
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 banners">
                    {% include 'banners.html' with objs=banners %}

                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?151"></script>
                    <div id="vk_groups" style="width: 100%"></div>
                    <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 3, width: 'auto'}, 640888);
                    </script>
                </div>
            </div>
            <h5 class="block-title">Стратегические партнеры</h5>
            <div class="partners ">
                {% for partner in partners %}
                    <div class="partner">
                        <a href="{{ partner.url }}">
                            <div class="image">
                                <img src="{% thumbnail partner.image 0x100 %}">
                            </div>
                            <div class="title">
                                {{ partner.title }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
    {% block footer %}
        <div class="footer">
            {% include 'footer.html' %}
        </div>
    {% endblock %}


{% endblock %}