<nav class="_individ navbar navbar-expand-lg navbar-light bg-light col-12">
  <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="#" class="font_add nav-link" onclick="font_add()">A+</a></li>
        <li class="nav-item"><a href="#" class="font_ded nav-link" onclick="font_ded()">A-</a></li>
      </ul>

      <ul class="nav navbar-nav mr20">
        <li class="nav-item"><a href="#" class="nav-link" onclick="interval_add()"><i class="fa fa-arrows-v int_add " aria-hidden="true"></i>+</a></li>
        <li class="nav-item"><a href="#" class="nav-link" onclick="interval_ded()"><i class="fa fa-arrows-v int_ded " aria-hidden="true"></i>-</a></li>
      </ul>

      <ul class="nav navbar-nav mr20">
        <li class="nav-item"><a href="#" onclick="set_backg('wb')" class="whi-bla nav-link">Ы</a></li>
        <li class="nav-item"><a href="#" onclick="set_backg('bw')" class="bla-whi nav-link">Ы</a></li>
        <li class="nav-item"><a href="#" onclick="set_backg('by')" class="blu-yel nav-link">Ы</a></li>
      </ul>

      <ul class="nav navbar-nav mr20">
        <li class="nav-item"><a href="#" onclick="set_img('disabled')" class="nav-link">ВЫКЛ</a></li>
        <li class="nav-item"><a href="#" onclick="set_img('grey')" class="nav-link">Ч/Б</a></li>
        <li class="nav-item"><a href="#" onclick="set_img('color')" class="nav-link">ЦВЕТ</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Озвучка <i class="fa fa-microphone" aria-hidden="true"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a href="#" class="say_voice nav-link"  >Что это?</a></li>
            <li class="nav-item"><a href="#" class="nav-link" onclick="set_voice('w')">Женский голос</a></li>
            <li class="nav-item"><a href="#" class="nav-link" onclick="set_voice('m')">Мужской голос</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
