{% if obj.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
            {% endif %}

            {% if obj.number == 1 %}
                    <li class="{% if obj.number == 1 %}active{% endif %} page-item"><span class="page-link" href="?page=1">1</span>
                {% else %}
                    <li class="{% if obj.number == 1 %}active{% endif %} page-item"><a class="page-link" href="?page=1">1</a></li>
            {% endif %}

            {% if pointer %}
                {% with 1|add:ranger as position %}
                    {% if obj.previous_page_number > position %}
                        <li class="page-item"><span class="page-link">...</span></li>
                    {% endif %}
                {% endwith %}
            {% endif %}


            {% with ranger|add:"0" as r %}
                {% with ''|center:r as range %}
                    {% for _ in range %}
                        {% widthratio forloop.counter0 1 -1 as counter %}
                        {% with r|add:counter as numb %}
                            {% widthratio numb 1 -1 as minus %}
                            {% with obj.number|add:minus as position %}
                                {% if obj.has_previous and position > 1 %}
                                    <li class="page-item"><a class="page-link" href="?page={{ position }}">{{ position }}</a></li>
                                {% endif %}
                            {% endwith %}
                        {% endwith %}
                    {% endfor %}
                {% endwith %}

                {% if obj.number != 1 %}
                    <li class="active page-item"><a class="page-link" href="?page=1">{{ obj.number }}</a></li>
                {% endif %}

                {% with ''|center:r as range %}
                    {% for _ in range %}
                        {% with obj.number|add:forloop.counter as position %}
                            {% if obj.has_next and position < obj.paginator.num_pages %}
                                <li class="page-item"><a class="page-link" href="?page={{ position }}">{{ position }}</a></li>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                {% endwith %}
            {% endwith %}

            {% if pointer %}
                {% widthratio ranger 1 -1 as minus %}
                {% with obj.paginator.num_pages|add:minus as position %}
                    {% if obj.next_page_number < position %}
                        <li class="page-item"><span class="page-link">...</span></li>
                    {% endif %}
                {% endwith %}
            {% endif %}

            {% if obj.paginator.num_pages != 1 and  obj.number != obj.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ obj.paginator.num_pages }}">{{ obj.paginator.num_pages }}</a></li>
            {% endif %}

            {% if obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}




