{% extends 'index.html' %}

{% block slider %}{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
        <div class="col-lg-3 left_block">
            <form action="{% url 'search' %}" method="get">
              <div class="form-group">
                <input type="text" class="form-control" id="search" name="q" placeholder="Поиск">
              </div>
            </form>
            {% block left_block %}
            {% endblock %}
        </div>
        <div class="col-lg-9 right_block">
            {% block right_block %}
            {% endblock %}
        </div>
        </div>
    </div>
{% endblock %}