{% load block %}

<div class="rating__base {% if active %}active{% endif %}" data-scale-id="{{ scale.id}}" data-obj-id="{{ obj.id }}" data-obj-class="{{ model_class }}" data-result="{{ total_result.avg_result|floatformat:"2" }}">
    {% for elem in range %}

        <div  class="rating_block {% if active and forloop.counter <= result %}active{% endif %}" data-rating="{{ forloop.counter }}">
            <i class="far fa-star"></i>
    {% endfor %}

    {% for elem in range %}
        </div>
    {% endfor %}

    <div class="total_result">
        <div>Всего: <span>{{ total_result.count_result }} голосов</span></div>
        <div>Средний результат: <span>{{ total_result.avg_result|floatformat:"2" }}</span></div>

    </div>
</div>

