{% load cropping %}
{% load staticfiles %}

<div id="glance">
    {% for slide in slider %}
      <a href="{{ slide.file.url }}">
        <img src="{% cropped_thumbnail slide "cropping_small" %}" />
      </a>
    {% endfor %}
</div>

<script>
    $('#glance').lightGallery({
        thumbnail:true,
        animateThumb: false,
        showThumbByDefault: true,
        pager: true
    });
</script>