{% load cropping %}
{% load staticfiles %}

{% if slider|length > 0 %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightslider.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightgallery.css' %}"/>
    <script src="{% static 'js/lightgallery.js' %}"></script>
    <script src="{% static 'js/lg-thumbnail.js' %}"></script>
    <script src="{% static 'js/lg-fullscreen.js' %}"></script>
    <script src="{% static 'js/lightslider.min.js' %}"></script>
    <script src="{% static 'js/slider_active.js' %}"></script>

    <div class="row no-gutters">
        <div class="col-lg-9">
            <ul id="slider">
                {% for slide in slider %}
                    <li data-src="{% cropped_thumbnail slide "cropping" %}" >

                            <div class="image">
                                <img src="{% cropped_thumbnail slide "cropping" %}">
                            </div>
                            <div class="info">
                                <div class="title">{{ slide.title }}</div>
                                <div class="description">{{ slide.description|safe }}</div>
                            </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-3 information">
            <form action="{% url 'search' %}" method="get">
              <div class="form-group">
                <input type="text" class="form-control" id="search" name="q" placeholder="Поиск">
              </div>
            </form>
            <div class="contacts">
              {{ setting.contacts|safe }}
            </div>
        </div>
    </div>
{% endif %}