body {
  color: #666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22px;
  background: url("../img/bg2.jpg"); }
  body .container {
    background-color: white; }
  body #header {
    background-color: #163F72;
    font-size: 12px;
    padding: 5px 10px;
    text-align: right;
    position: relative; }
    body #header .individ {
      position: absolute;
      left: 10px;
      top: 2px; }
      body #header .individ i {
        line-height: 27px;
        font-size: 28px; }
    body #header a {
      color: white; }

.img_head {
  position: relative; }
  .img_head img {
    width: 100%; }

p {
  margin-bottom: 0.5rem; }

.slider {
  padding-top: 20px; }
  .slider .information {
    padding-left: 10px; }
  .slider #slider {
    margin: 0; }
    .slider #slider .image {
      max-width: 60%;
      float: left; }
      .slider #slider .image img {
        width: 100%; }
    .slider #slider .info {
      max-width: 40%;
      float: left;
      padding: 10px;
      text-align: justify; }
      .slider #slider .info .title {
        font-size: 20px;
        margin-bottom: 5px; }
  .slider .base_slider .lSPager {
    position: absolute;
    bottom: 10px;
    width: 60%; }
  .slider .base_slider .lSAction .lSNext {
    margin-right: 40%; }
  .slider .contacts {
    text-align: justify; }

#m_sc {
  height: 100%;
  background-color: black;
  width: 120px;
  display: none;
  opacity: 0.2; }

#m_img_s {
  background: url("../img/arrow_up.png") 20px 5px no-repeat;
  margin-top: 10px;
  background-size: 15px;
  padding-left: 40px;
  top: 0px;
  position: absolute;
  color: white;
  width: 20px;
  height: 20px;
  display: none; }

#m_img_s2 {
  background: url("../img/arrow_down.png") 20px 5px no-repeat;
  margin-top: 10px;
  background-size: 15px;
  padding-left: 40px;
  top: 0;
  position: absolute;
  color: white;
  width: 20px;
  height: 20px;
  display: none; }

#m_scroll2 {
  position: fixed;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 26.6%;
  cursor: pointer;
  overflow: hidden;
  display: none; }

#m_scroll {
  margin-top: 10px;
  background-size: 15px;
  font-size: 12px;
  font-weight: bold;
  padding-left: 40px;
  top: 0px;
  position: absolute;
  color: white;
  display: none;
  font-family: sans-serif; }

.menu {
  padding-bottom: 20px;
  padding-top: 20px; }
  .menu nav.navbar {
    background-color: #163F72;
    padding: 0 10px;
    border-radius: 0 0 10px 10px; }
    .menu nav.navbar ul {
      flex-wrap: wrap; }
    .menu nav.navbar .navbar-nav .nav-link {
      color: white;
      padding: 0 12px;
      line-height: 56px; }
    .menu nav.navbar .navbar-nav .active .nav-link {
      background-color: #5686C2; }
    .menu nav.navbar .navbar-nav .dropdown-menu {
      background: #E5EEF5;
      border-radius: 0; }
      .menu nav.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
        background-color: #5686C2;
        color: white; }
    .menu nav.navbar .item_dd {
      position: relative; }
      .menu nav.navbar .item_dd:hover .dropdown-menu {
        display: block;
        top: 0;
        left: 100%;
        margin-top: 0; }

.new {
  margin-bottom: 20px; }

img {
  max-width: 100%;
  max-height: 100%; }

.content {
  padding-bottom: 20px; }
  .content .news_anons .new {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #D5DAE0; }
    .content .news_anons .new .title {
      margin: 0 0 10px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline; }
      .content .news_anons .new .title a {
        color: #163F72; }
  .content .news_anons .more {
    margin-bottom: 20px; }
  .content .news_anons h1 {
    color: #d9e3f1;
    background-color: #163F72;
    padding: 5px 15px;
    border-radius: 10px 0;
    font-size: 20px;
    margin: 0 0 20px; }
  .content .news_anons .image {
    margin-right: 16px;
    width: 138px;
    float: left;
    text-align: center;
    padding-top: 2px;
    background-color: #f1f1f1; }
    .content .news_anons .image img {
      max-width: 100%;
      max-height: 100%; }
  .content .banners {
    padding-left: 20px; }
    .content .banners .banner {
      margin-bottom: 12px; }
      .content .banners .banner img {
        width: 100%; }
  .content .partners {
    text-align: center; }
    .content .partners .partner {
      display: inline-block;
      margin: 0 10px;
      max-width: 130px;
      vertical-align: top; }
      .content .partners .partner img {
        height: 100px;
        padding-top: 5px; }

.footer {
  background-color: white;
  border-top: 1px solid #cccccc;
  padding: 37px 0; }

.right_block .news .new {
  margin-bottom: 10px; }
.right_block .resource .title {
  font-size: 24px;
  margin-bottom: 0.5rem; }
.right_block .collection .image img {
  width: 100%; }
.right_block .admin_controls {
  position: fixed;
  right: 0;
  top: 20%;
  z-index: 99; }
.right_block .select_news .title_h1 {
  font-size: 24px;
  margin-bottom: 0.5rem; }
.right_block .select_news .description img {
  width: 100% !important;
  height: auto !important; }
.right_block .news_slider {
  margin-bottom: 20px; }
  .right_block .news_slider .lSAction a {
    z-index: 1; }
  .right_block .news_slider ul {
    margin-bottom: 0; }
    .right_block .news_slider ul li {
      text-align: center;
      position: relative;
      overflow: hidden;
      height: 100%; }
      .right_block .news_slider ul li .iwh100 {
        max-height: 100%;
        max-width: 100%; }
      .right_block .news_slider ul li .blur_back {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        -ms-filter: blur(8px);
        -o-filter: blur(8px);
        filter: blur(8px); }
        .right_block .news_slider ul li .blur_back img {
          width: 100%; }
  .right_block .news_slider .lSPager li {
    height: 200px; }
  .right_block .news_slider .lSPager li:hover, .right_block .news_slider .lSPager li.active {
    border-radius: 0; }
  .right_block .news_slider .lSPager img {
    width: 100%;
    max-width: none !important; }

.left_block .childs {
  margin-top: 20px; }
  .left_block .childs a {
    color: white; }
  .left_block .childs .list-group-item {
    background-color: #163F72;
    border-color: white; }

#cookie_ok {
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100000;
  display: none;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

body ._individ {
  display: none; }
body.size_a ._individ {
  display: block; }
body.size_a .container {
  max-width: 100%; }
body.size_a .base_slider .image {
  display: none; }
body.size_a .slider #slider .info {
  max-width: 100%; }
body.size_a .slider .base_slider .lSPager {
  width: 100%; }
body.size_a #slider_news img {
  display: inline-block !important; }
body.size_a #slider_news .mslside {
  background: transparent !important; }
body.size_a .whi-bla {
  background-color: white !important;
  color: black !important; }
body.size_a .bla-whi {
  background-color: black !important;
  color: white !important; }
body.size_a .blu-yel {
  background-color: darkblue !important;
  color: yellow !important; }

.rating__base:not(.active) .rating_block:hover > .fa-star:before {
  font-weight: 900; }
.rating__base .rating_block {
  display: inline;
  cursor: pointer; }
  .rating__base .rating_block.active > .fa-star:before {
    font-weight: 900; }
  .rating__base .rating_block:hover .fa-star:before {
    font-weight: 400; }
  .rating__base .rating_block:hover > .fa-star:before {
    font-weight: 900; }
.rating__base .total_result {
  font-size: 12px;
  padding-bottom: 20px; }

.laporemCommentes .comment {
  margin: 10px 0; }
  .laporemCommentes .comment .laporemCommentes__name {
    font-size: 20px; }
  .laporemCommentes .comment .laporemCommentes__date {
    font-size: 10px;
    color: #bcbcbc; }
  .laporemCommentes .comment .laporemCommentes__text {
    padding-left: 20px;
    font-weight: lighter; }

/*# sourceMappingURL=style.css.map */
